.login-content {
  background: rgba(255, 255, 255, 0.5);
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.login-headerx{
  margin-top:50px
}
.background-video{
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90vh;
  text-align: center;
}
.login_form {
  width: 80%;
}
.login_form input:focus{
  outline:unset
}
.logo {
  width: 75px;
  margin-bottom: 20px;
}

.login_title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 42px;
}
.form-item{
position:relative
}
.lupa-link{
position: absolute;
top:10px;
right: 0;
background: #c2bfbf;
padding: 17px;
border-radius: 0 20px 20px 0;
color: #fff;
font-size: 12px;
}

.loginbtn {
background: #D19F23;
color: #fff;
border-radius: 20px;
height: 48px;
font-size: 14px;
font-weight: bold;
letter-spacing: 2.1px;
margin-top: 42px;
width: 100%;

}

form {
  width: 100%;
  max-width: 400px;
}

.password-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.password-container .toggle-password{
  position: relative;
  right: 78px;
  top: -2px;

}

