/* Force light theme globally */

* {
  font-family: 'Metropolis', sans-serif;
  color: #2d2d2e;
}

.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  flex: 1;
  overflow: auto;
}
input {
  margin-bottom: 16px !important;
  border-radius: 20px;
  width: 100%;
  background: #f6f6f6;
  padding: 15px 25px;
  border: unset;
  color: #a5a5a5 !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}
input::placeholder {
  color: #a5a5a5;
  font-size: 14px;
  font-family: 'Metropolis', sans-serif;
  font-weight: 500;
}
.ion-page {
  bottom: 40px;
}
ion-toast{
  color:#fff
}
.section-header h4,.header_title {
  margin: 0;
  font-size: 1.2rem;
  color: #0b0b10;
  font-weight: bold;
}
.produk_subtitle,.header_subtitle {
  font-size: 0.9rem;
  color: #707070;
  margin-bottom: 12px;
  margin-top:5px;
}
.produk-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.produk-list-header {
  background: #f4f4f4;
  border-radius: 10px 10px 0 0;
  padding-bottom: 5px;
}
.produk-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-align: left;
  padding: 10px 20px;
}
.produk-desc,
.produk-satuan {
  background: #c49e57;
  padding: 10px 5px 10px 35px;
  margin-right: 5px;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  font-size: 7px;
  font-weight: bold;
  border-radius: 0 10px 10px 0px;
}
.produk-satuan {
  margin-top: 5px;
}
.produk-satuan.mycolon {
  background: #fac135;
}
.produk-satuan.fitzim {
  background: #3c4564;
}
.produk-satuan.biogun {
  background: #29a03e;
}
.produk-satuan.biodima {
  background: #e82a44;
}
.produk-list-header.biogun {
  background: #cbeddd;
}
.produk-list-header.biogun .produk-desc {
  background: #0fbf6e;
}
.produk-list-header.biogun .produk-satuan {
  background: #49773b;
}
.produk-list-header.biodima {
  background: #ffd8c0;
}
.produk-list-header.biodima .produk-desc {
  background: #f22a59;
}
.produk-list-header.biodima .produk-satuan {
  background: #8e233c;
}
.produk-list-header.fitzim {
  background: #c0deff;
}
.produk-list-header.fitzim .produk-desc {
  background: #6a8ffb;
}
.produk-list-header.fitzim .produk-satuan {
  background: #3c4564;
}
.produk-list-header.mycolon {
  background: #fae490;
}
.produk-list-header.mycolon .produk-desc {
  background: #50d24e;
}
.produk-list-header.mycolon .produk-satuan {
  background: #0e7d0c;
}
.produk-logo img {
  width: 20px;
}
.produk-image {
  padding-left: 2px;
  margin-top: -48px;
}
.swiper .swiper-slide .produk-image img,.all-produk .produk-image img,.produk-item .produk-image img {
  height: 60px;
  object-fit: contain;
}
.produk-logo span {
  color: #c49f59;
  font-size: 7px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  margin-top: 4px;
}
.produk-logo span:before {
  content: '';
  position: absolute;
  height: 20px;
  width: 1.5px;
  background: #c2c2c2;
  left: -8px;
  top: -2px;
}
.produk-image img {
  width: auto;
  height: auto;
  border-radius: 8px 8px 0 0;
}
.produk-info {
  padding: 10px;
  min-height: 160px;
  position: relative;
}
.produk-info h2 {
  font-size: 11px;
  margin: 8px 0;
  color: #000;
  min-height: 20px;
}

.produk-info p,
.shopicon {
  font-size: 11px;
  color: #707070;
  margin: 2px 0;
}

.price {
  font-weight: bold;
  color: #d19f23;
}

.cashback {
  font-weight: bold;
  color: #707070;
}
.produk-info .shopicon {
  display: flex;
  gap: 5px;
  align-items: center;
  margin: 14px 0 12px;
}
.shopicon img {
  width: 9px;
  height: 10px;
  margin-top: 2px;
}
.produk-link {
  position: absolute;
  width: 85%;
  bottom: 11px;
}
.produk-link span {
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  background: #d19f23;
  display: block;
  padding: 8px;
  text-align: center;
  border-radius: 10px;
}
.bn-divider {
  background: #eaeaea;
  width: 100%;
  height: 10px;
  margin: 10px 0;
}
.padding-lr-20{
  padding:0 20px;
}
.no-default-header{
  margin-top:40px
}
.history-back{
  background: #afafaf;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    left: 20px;
    top: 50px;
}
.history-back:before{
  content:"";
  background:url('../assets/arrow-left.svg') no-repeat;
  background-size:contain;
  width: 15px;
  height:15px;
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.keranjang-count{
  position: absolute;
    right: 14px;
    background: red;
    width: 15px;
    height: 15px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 4px;
    font-weight: bold;
}

