.checkout_header_wrap {
  margin-bottom: 37px;
}
.checkout_header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 27px;
}
.checkout_title,
.nama_tempat {
  color: #0b0b10;
  font-size: 14px;
  font-weight: 600;
}
.checkout_icon img {
  width: 14px;
  height: auto;
  object-fit: contain;
}
.checkout_tempat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.checkout_alamat,
.transfer_title {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #707070;
  font-size: 14px;
  max-width: 80%;
  line-height: 1.5em;
}
.transfer_title,
.transfer_harga,.nama_rekening {
  text-align: center;
  max-width: 100%;
}
.transfer_harga {
  color: #c79821;
  font-size: 24px;
  font-weight: 700;
}
.transfer_title{
  margin-bottom:0
}
.batas_akhir,.batas_tgl{
  color:#0B0B10;
  font-size:14px
}
.batas_tgl{
  font-weight:600
}
.bts_jam{
  color:#FF4000
}
.nama_rekening {
  font-size:12px;
  margin-top:5px;
  margin-bottom:5px;
  color: #080808;
  font-weight: 600;
}
.items_wraps .item:last-child {
  border: 0;
}
.checkout_metode,
.ringkasan_item {
  display: flex;
  gap: 45px;
  margin: 15px 0;
  align-items: center;
  justify-content: space-between;
}
.bank_img {
  flex: 0 0 10%;
}
.bank_img img {
  width: 100%;
  height: auto;
}
.nama_bank {
  color: #000000;
  font-size: 14px;
  flex: 0 0 50%;
}
.bank_radio {
  flex: 0 0 10%;
}
.ringkasan_item {
  color: #707070;
  font-size: 12px;
}
.ringkasan_item .total_pembayaran {
  color: #d19f23;
  font-size: 14px;
  font-weight: 700;
}
.checkout_btn {
  width: 89%;
}
.gunakan_cashback {
  display: flex;
  gap: 20px;
}
.bayar_page{
    padding-bottom:25px;
    padding-top:5px
}
.bank_transfer_section{
  margin-bottom:15px;
}
.bank_transfer_copy {
  background: #efefef;
  border-radius: 10px;
  display: flex;
  padding: 18px;
  justify-content: space-between;
  align-items: center;
  gap:10px;
  margin-bottom:10px
}
.bank_transfer_copy img{
  background: #fff;
    border-radius: 10px;
    width: 15%;
    padding: 2px;
}
.nomor_rekening {
  color: #0b0b10;
  font-size: 16px;
  font-weight: 700;
  flex: 1;
    text-align: center;
}
.copy_nomor {
  cursor: pointer;
  color: #707070;
  font-size: 12px;
  font-weight: 700;
}
.bank_transfer_copy.info {
  background: #fff;
  border: 1px solid #e6e6e6;
}
.bank_transfer_copy.info .copy_nomor {
  font-weight: 400;
}
.bank_transfer_copy.info .copy_nomor span {
  color: #707070;
  font-weight: 600;
}
