/* footer.css */

ion-footer{
  z-index: 9999999;
  position:fixed;
  bottom:0;
}
.footer {
    margin-top: auto; 
    z-index: 999999;
    position:relative;
    height:80px
  }
  
  .footer .tab-button img {
    width: 20px;
    height: 20px;
    display: flex;
    margin:6px auto
  }
  
  .footer .tab-button .label {
    margin-top: 4px;
  }
  
  .footer .tab-button .active-label {
    color: #D19F23;
  }
  
  .footer .tab-button .inactive-label {
    color: #9D9D9D;
    font-size:10px;
  }
  .footer-detail{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top:1px solid #e9e5e5;
    background: #fff;
    width: 100%;
    bottom: -9%;
    position:fixed;
    z-index:9999
  }
  .footer-detail .footer-detail-wrap,.footer-detail .call-center{
    display:flex;
    align-items: center;
    gap:25px;
  }
  .footer-detail .call-center{
    gap:10px;
    flex-direction: column;
    font-size:10px;
    color:#000000
   
  }
  .footer-detail .keranjang, .bn-btn{
    background: #EAEAEA;
    border-radius: 5px;
    padding: 15px 31px;
    font-size: 14px;
    font-weight: 500;
  }
  .bn-btn{
    background:#D19F23;
    color:#fff
  }
  .aksi_produk {
    position: absolute;
    width: 100%;
    background: #fff;
    border-radius: 10px 10px 0 0;
    height: 65vh;
  }
  .produk_thumb{
    width:100px;
    height:100px;
    background: #f4f4f4;
    border-radius:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .produk_thumb img{
    width: 100px;
    height: auto;
    max-height:60px;
    object-fit: contain;
    margin-top:5px
  }
  .hidden-produk,.produk_qty,.produk_btn{
    display:flex;
    gap:15px;
    padding:20px
  }
  .hidden-produk{
    align-items: flex-end;
  }
  .produk_qty{
    border-top:1px solid #e9e5e5;
    justify-content: space-between;
    align-items: center;
  }
  .produk_qty_control{
    display:flex;
    border:1px solid #EAEAEA;
    border-radius:10px
  }
  .produk_qty_control button{
    width:20px;
    background: transparent;
  }
  .produk_qty_control .qty_value{   
    min-width:27px;
    padding:2px 5px;
    border-left:1px solid #EAEAEA;
    border-right:1px solid #EAEAEA;
    text-align:center
  }
  .produk_qty_control button,.produk_qty_control .qty_value{
    color:#707070;
    font-size:14px;
    font-weight:600
  }
  .toast-content{
    background:#000000
  }
  .close_popup{
    position:absolute;
    top:20px;
    right:20px;
  }
  .close_popup img{
    width:15px
  }
  .produk_btn button{
    width: 100%;
    border-radius: 5px;
    padding: 14px;
    color: #fff;
    background: #D19F23;
  }
  .produk_data h3{
    color: #D19F23;
    font-size: 18px;
  }
  .produk_data span,.produk_qty_label{
    color:#707070;
    font-size:14px
  }
  
  @media(max-width:400px){
    .footer-detail{
      bottom:-12%
    }
    .footer-detail .footer-detail-wrap{
      gap:15px
    }
    .footer-detail .keranjang, .bn-btn{
      padding:15px 25px;
    }
  }
  