/* footer.css */


.footer {
    margin-top: auto; 
    z-index: 999;
    height:80px
  }
  
  .footer .tab-button img {
    width: 20px;
    height: 20px;
    display: flex;
    margin:6px auto
  }
  
  .footer .tab-button .label {
    margin-top: 4px;
  }
  
  .footer .tab-button .active-label {
    color: #D19F23;
  }
  
  .footer .tab-button .inactive-label {
    color: #9D9D9D;
  }
  .footer-detail{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top:1px solid #e9e5e5;
  }
  .footer-detail .footer-detail-wrap,.footer-detail .call-center{
    display:flex;
    align-items: center;
    gap:25px;
  }
  .footer-detail .call-center{
    gap:10px;
    flex-direction: column;
    font-size:10px;
    color:#000000
   
  }
  .footer-detail .keranjang, .footer-detail .beli{
    background: #EAEAEA;
    border-radius: 5px;
    padding: 15px 31px;
    font-size: 14px;
    font-weight: 500;
  }
  .footer-detail .beli{
    background:#D19F23;
    color:#fff
  }
  